<div class="dashboard-container">
  <div fxLayout="column">
    <div fxFlex="100%">
      <div fxFlex="80%">
        <h2>Books</h2>
      </div>
      <div fxFlex>
        <button mat-button (click)="addBook()">Add</button>
      </div>
    </div>
  </div>
  <div fxLayout="column">
    @defer () { @for (book of books | async; track $index) {
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ book.title }}</mat-card-title>
          <mat-card-subtitle>{{ book.category }}</mat-card-subtitle>
          <img mat-card-sm-image [src]="book.coverImageUrl" />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        {{ book.epilogue }}
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-raised-button color="primary" routerLink="/read">
          Read
        </button>
      </mat-card-actions>
    </mat-card>

    } @empty {
    <div fxLayout="column">
      <div fxFlex="100%">
        <mat-card>
          <mat-card-content class="text-center"> not found </mat-card-content>
        </mat-card>
      </div>
    </div>
    } } @placeholder { ... } @loading { book is loading...! }
  </div>
</div>
