.dashboard-container {
  padding: 40px 80px;
}

/*card*/
.example-card {
  max-width: 362px;
  margin: 3px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
