<button mat-button [matMenuTriggerFor]="menu">Books</button>
<mat-menu #menu="matMenu">
  <div mat-subheader>Chose book</div>
  @for (book of books$ | async; track $index) {
  <button aria-label="book" mat-menu-item (click)="onSelectBook(book)">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="menu_book"
    ></mat-icon>
    {{ book.title }}
  </button>
  }
  <mat-divider></mat-divider>
  <button aria-label="new book" mat-menu-item routerLink="/books">
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="add"
    ></mat-icon>
    New
  </button>
</mat-menu>

<pre>{{ book | json }}</pre>
<router-outlet></router-outlet>
